.box-shadow-hover:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.pointer {
  cursor: pointer;
}

img {
  width: auto;
  max-height: 100px;
}

/* JSFiddle display layout adjustment only */
.container {
  margin-bottom: 2rem;
}