{% extends "base.html" %}
{% block content %}

<div class="container">
  <div class="row">
    {% for academia in latest_academies_list%}

    <div class="col-md-4 col-sm-6 col-xl-4 my-3">
      <div class="card d-block h-100 box-shadow-hover">
        <div class="pt-3 h-75p align-items-center d-flex justify-content-center">
            <a> <img class="img-fluid w-xs-120p" src="https://raw.githubusercontent.com/solodev/boxes-with-distinct-hover-effect/master/images/valkyrie.png" alt="valkyrie ship image"> </a>
        </div>
        <div class="card-body p-4">
          <h3 class="h4"><strong>{{ academia.name }}</strong></h3>
          <p><strong> City: </strong>{{ academia.city }}</p>
          <p><strong> Telephone: </strong>{{ academia.telephone }}</p>
          <p><strong> URL: </strong>{{ academia.url }}</p>
         <button class="btn btn-dark"><a class="white" href="/courses?drop1={{ academia.name }}"> view courses </a></button>
        </div>
      </div>
    </div>
        </a>
    {% endfor %}
  </div>
</div>

<script>
$(document).ready(function() {

});
</script>

{% endblock %}