{% extends "base.html" %}
{% block content %}


<title>Table With Border</title>

<h1>Academi tables</h1>
 <form action="/details/academis" method="get">
        {% csrf_token %}
        <label for="team_name"> Ciudades: </label>

        <select id="drop1" name="drop1">
            <option value="">Todas las academias</option>
            {% for ciudadesacademia in latest_academies_list%}
                    <option value="{{ ciudadesacademia.city}}">{{ ciudadesacademia.city }}</option>
            {% empty %}<option>Sorry, no city registered yet.</option>
            {% endfor %}
         </select>
        <button class="btn btn-primary" type="submit" > Search </button>
 </form>

<table class="table table-sm">
    <thead>
        <tr id="head">
            <th>Name</th>
            <th>City</th>
            <th>Telephone</th>
            <th>Url</th>
            <th>User</th>
            <th>Date</th>
        </tr>
    </thead>

    <tbody>
        {% for academia in latest_academies_list%}
        <tr id="{{ academia.city }}">
            <td>{{ academia.name }}</td>
            <td>{{ academia.city }}</td>
            <td>{{ academia.telephone }}</td>
            <td>{{ academia.url }}</td>
            <td>{{ academia.user }}</td>
            <td>{{ academia.date }}</td>
            <td> <button class="btn btn-dark"><a class="white" href="/courses?drop1={{ academia.name }}">View courses</a></button> </td>
        {% endfor %}
        </tr>

 </tbody>
 </table>

{% endblock %}

