{% extends "base.html" %}
{% block content %}


<ul>
    {% for academia in latest_academies_list%}
        <li>{{ academia.name }}</li>
        <li>{{ academia.city }}</li>
        <li>{{ academia.url }}</li>
        <li>{{ academia.user }}</li>
    {% empty %}<li>Sorry, no academies registered yet.</li>
    {% endfor %}
</ul>
<title>Table With Border</title>



<h1>Academi tables</h1>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>City</th>
            <th>Telephone</th>
            <th>Url</th>
            <th>User</th>
            <th>Date</th>
        </tr>
    </thead>

    <tbody>
        {% for academia in latest_academies_list%}
        <tr>

            <td>{{ academia.name }}</td>
            <td>{{ academia.city }}</td>
            <td>{{ academia.telephone }}</td>
            <td>{{ academia.url }}</td>
            <td>{{ academia.user }}</td>
            <td>{{ academia.date }}</td>
            {% endfor %}
        </tr>

 </tbody>
 </table>

{% endblock %}