{% extends "base.html" %}
{% block content %}


<title>Table With Border</title>

<h1>Academi tables</h1>

<table class="table table-sm">
    <thead>
        <tr>
            <th>Name</th>
            <th>City</th>
            <th>Telephone</th>
            <th>Url</th>
            <th>User</th>
            <th>Date</th>
        </tr>
    </thead>

    <tbody>
        {% for academia in latest_academies_list%}
        <tr>

            <td>{{ academia.name }}</td>
            <td>{{ academia.city }}</td>
            <td>{{ academia.telephone }}</td>
            <td>{{ academia.url }}</td>
            <td>{{ academia.user }}</td>
            <td>{{ academia.date }}</td>
        {% endfor %}
        </tr>

 </tbody>
 </table>

{% endblock %}

 {% ifequal academia.city key%}

{% endifequal %}
