{% extends "base.html" %}
{% block content %}


<title>Table With Border</title>

<h1>Academy courses</h1>
<form action="/courses" method="get">
        {% csrf_token %}
        <label for="team_name"> Ciudades: </label>

        <select id="drop1" name="drop1">
            <option value="">Todas las academias</option>
            {% for academia in academies_courses%}
                    <option value="{{ academia.academia.name}}">{{ academia.academia.name }}</option>
            {% empty %}<option>Sorry, no city registered yet.</option>
            {% endfor %}
         </select>
        <input type="submit" value="Submit"/>
 </form>

<table class="table table-sm">
    <thead>
        <tr id="head">
            <th>Name cours</th>
            <th>Description</th>
            <th>Price</th>
            <th>User</th>
            <th>Academy</th>
        </tr>
    </thead>

    <tbody>
        {% for academia in academies_courses%}
        <tr id="{{ academia.academia.name }}">

            <td>{{ academia.name }}</td>
            <td>{{ academia.description }}</td>
            <td>{{ academia.price }}</td>
            <td>{{ academia.user }}</td>
            <td>{{ academia.academia.name }}</td>
        {% endfor %}
        </tr>

 </tbody>
 </table>
<script>
$(document).ready(function() {
    var name = "drop1"
    var query = decodeURIComponent(
    (new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search)||[,""])[1].replace(/\+/g, '%20'))||null

    $(" tr ").each(function(){
        var academia = $(this).attr('id')
        if(query !== academia && query!=null && query!=="") {
            document.getElementById(academia).remove();
        }
    });
    var academia = document.getElementById("drop1");
    [].slice.call(academia.options)
    .map(function(a){
    if(this[a.innerText]){
    academia.removeChild(a);
    } else {
    this[a.innerText]=1;
    }
    },{});

});
</script>
{% endblock %}