{% extends "base.html" %}
{% block content %}


<ul>
    {% for academia in latest_academies_list%}
        <li><a href="/details/">
            {{ academia.name }}</a></li>
    {% empty %}<li>Sorry, no academies registered yet.</li>
    {% endfor %}
</ul>


 <form action="/details/academis" method="get">
        {% csrf_token %}
        <label for="team_name"> Ciudades: </label>

        <select name="drop1">
            {% for academia in latest_academies_list%}
                    <option value="{{ academia.city}}">{{ academia.city }}</option>
            {% empty %}<option>Sorry, no academies registered yet.</option>
            {% endfor %}
         </select>
        <input type="submit" value="Submit"/>
 </form>




{% endblock %}