{% extends "base.html" %}
{% block content %}


<ul>
    {% for academia in latest_academies_list%}
        <li>{{ academia.name }}</li>
        <li>{{ academia.city }}</li>
        <li>{{ academia.url }}</li>
        <li>{{ academia.user }}</li>
    {% empty %}<li>Sorry, no academies registered yet.</li>
    {% endfor %}
</ul>
<title>Table With Border</title>



<h1>Academi tables</h1>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>City</th>
            <th>Telephone</th>
            <th>Url</th>
            <th>Date</th>
        </tr>
    </thead>

    <tbody>
        {% for academia in latest_academies_list%}
        <tr>

        <td>{{ academia.name }}</td>
            {% endfor %}
            </tr>
 <td>Raju-demo-website.com</td>
 <td>raju@example.com</td>

 <tr>
 <td>Raja</td>
 <td>Raja-demo.com</td>
 <td>raja@example.com</td>
 </tr>
 <tr>
 <td>Rani</td>
 <td>Rani-demo.com</td>
 <td>rani@example.com</td>
 </tr>
 </tbody>
 </table>

{% endblock %}