{% extends "base.html" %}
{% block content %}

<div class="container">
  <div class="row">
    {% for view in views_academies%}

    <div class="col-md-4 col-sm-6 col-xl-4 my-3">
      <div class="card d-block h-100 box-shadow-hover">
        <div class="pt-3 h-75p align-items-center d-flex justify-content-center">
            <a> <img class="img-fluid w-xs-120p" src="https://raw.githubusercontent.com/solodev/boxes-with-distinct-hover-effect/master/images/valkyrie.png" alt="valkyrie ship image"> </a>
        </div>
        <div class="card-body p-4">
          <h3 class="h4"><strong> Stars: {{ view.rating }}</strong></h3>
          <p><strong> Comment: </strong>{{ view.comment }}</p>
          <p><strong> Date Comment: </strong>{{ view.date }}</p>
          <p><strong> Nombre Academia: </strong>{{ view.academia.name }}</p>
        </div>
      </div>
    </div>
        </a>
    {% endfor %}
  </div>
</div>

{% endblock %}